/* common styles */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
.section {
    width: 1320px;
    margin:  50px auto 0;
}

/* header design */
.banner {
    background-image: url(./images/Banner\ Image.png);
    height: 600px;
    
    
}
.overlay{
    width: 100%;
    height: 100%;
    color: white;
    font-family: Merriweather;
    background-color: rgba(0, 0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.banner-text{
    text-align: center;
    width: 632px;
    line-height: px;
}
.banner-text h4 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
 
}
.banner-text h1 {
    font-size: 72px;
    font-weight: 900;
   
  
}
/*header design ends*/

.offer{
    text-align: center;
    width: 1320px;
    margin: auto;
    line-height: 50px;
}
.hny-image img{
    height: 450px;
    width: 700px;
    margin: 30px;
}
.offer h1{
    color: #F00;
    font-size: 68px;
    font-weight: 700;
    margin: 80px 0 30px ;

}
.offer h5{
    color: #F00;
    font-size: 20px;
    font-weight: 500;

}
.offer h3{
    color: #070211;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;

}
/*welcome section*/
.welcome{
    background-image: url(./images/Vectorrr.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.4);
    border-radius: 20px;

    
}
.welcome h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.welcome .welcome-text {
    width : 642px;
    
}
.welcome p{
color: rgba(255, 255, 255, 0.80);
font-size: 16px;
font-weight: 400;
line-height: 30px;
}
.welcome-img{
    width: 320px;
    height : 465px;
    margin: 40px 0;
}
.welcome-text button {
    color: #FFF;
    background-color: black;
    padding: 7px 5px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    border: none;
    
}
.event-section .event-content {
    color: #070211;
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    line-height: 50px;
    padding: 80px 50px;
    border-radius: 20px;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.event-section {
  margin: 80px 0;
  
}
.event-content span {
    color :#F00;
}
.event-content button {
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    background: #F00;
    padding: 13px 20px;
    border: none;
    font-weight: 600;
    margin: 40px 0;
}

/*portfolio section*/
.portfolio-text h5{
    color: #F00;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.portfolio-text {
    max-width: 850px;
    margin: 50px 0;
}
.portfolio-images .row{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
/*SUBSCIBE SECTION*/
.subscribe-section {
    border-radius: 16px;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-content{
  padding: 80px 0;
  
}
.subscribe-content img {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}
.subscribe-content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;
}
.subscribe-content p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    max-width: 890px;
    text-align: center;
    margin:0  auto 30px;
}
.subscribe-content input {
    color: rgba(7, 2, 17, 0.30);
    padding: 15px 50px 15px 20px;
    border-radius:50px 0 0 50px ;
    border: none;
}
.subscribe-content button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 15px 40px 15px 30px;
    border: none;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    margin-left: -5px;
}
/*FOOTER SECTION*/
footer {
    background: #070211;
    margin-top: 80px;
    padding: 40px 0;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}
.footer-address{
    width: 350px;
    margin-bottom: 40px;
    line-height: 33px;
    
}
.footer-contact {
    margin-bottom: 30px;
}
.contact-img {
    display: flex  ;
    margin: 10px 50px;
}
.contact-img img {
    padding-right: 10px;
}
.footer-text {
    border-bottom: 1px solid rgb(60, 58, 58);
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-icons {
    text-align: center;
    border-bottom: 1px solid  rgb(60, 58, 58);
    padding-bottom: 20px;
}
.footer-icons img{
    padding: 10px 15px;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    margin: 40px 0 60px;
    font-size: 18px;
}

.coming-soon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}
.coming-soon-section .coming-soon-text{
 max-width: 380px;
}
.coming-soon-section .coming-soon-text h4{
    color: #F00;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}
.coming-soon-section .coming-soon-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.coming-soon-section p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.coming-soon-section .circle-img{
    border: 12px solid red;
    border-radius: 50%;
    padding: 27px;
   
}
.coming-soon-section .circle-img img{
    max-width: 500px;
}
.coming-soon-desc {
    width: 276px;
}
.coming-soon-desc h2{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.coming-soon-desc p {
    margin-bottom: 20px;
}